<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/index.css">
</head>

<body>

  <nav>
  
  </nav>

  <main>
    <h2>INICIO DE SESIÓN</h2>
    
    <form id="loginForm">

      <label>Correo Electrónico</label>
      <input type="correo" id="correo" placeholder="Ingrese su Correo" required>
      
      <label>Contraseña</label>
      <input type="contraseña" id="contraseña" placeholder="Ingrese su Contraseña" required>



      <button type="Enviar">Enviar</button>

      <p Class="signup-text">
      ¿No tienes cuenta? <a href="/signin">Crear cuenta</a>
      </p>

    </form>
    
  </main>
</body>
</html>