body{
  margin:0;
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background: linear-gradient(to bottom, #180575 40%, #3a2bbf 60%, #ffffff);
  font-family:arial, sans-serif;
}

/* cuadro del login /
main{
  background: rgba(255, 255, 255, 0.15); / transparencia /
  padding:40px;
  width:320px;
  border-radius:15px;

  backdrop-filter: blur(10px); / efecto vidrio /
  -webkit-backdrop-filter: blur(10px); / compatibilidad /

  border:1px solid rgba(255,255,255,0.3); / borde suave /

  box-shadow:0 8px 32px rgba(0,0,0,0.25);
}

/ título /
h2{
  text-align:center;
  margin-bottom:20px;
  color:#ffffff;
  font-size:30px;
  font-weight:700;
}

/ formulario /
form{
  display:flex;
  flex-direction:column;
  gap:8px;
}

/ etiquetas /
label{
  margin-top:10px;
  margin-bottom:5px;
  font-size:15px;
  font-weight:600;
  color:#ffffff;
}

/ inputs /
input{
  padding:10px;
  border-radius:6px;
  border:1px solid #ccc;
  font-size:14px;
  font-weight:500;
  font-family:sans-serif;
  background: rgba(255,255,255,0.2);
  border:1px solid rgba(255,255,255,0.3);
  color:#fff;
  box-shadow:0 3px 8px rgba(0,0,0,0.15); / sombreado del campo /
}

/ efecto cuando escribes /
input::placeholder{
  color:rgba(255,255,255,0.7);
}
/ botón /
button{
  margin-top:20px;
  padding:10px;
  border:none;
  border-radius:6px;
  background:rgba(21, 3, 107, 0.7);
  color:#ffffff;
  font-weight:700;
  font-size:15px;
  cursor:pointer;
  align-self:center; / centra el botón /
  width:150px;
  transition:0.3s ease;
}

/ hover botón */
button:hover{
  background:#3355ffc3;
  transform:scale(1.05)
}

.signup-text{
  text-align:center;
  margin-top: 20px;
  font-size: 14px;
  color: rgba(255,255,255,0.85);
}body{
  margin:0;
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background: linear-gradient(to bottom, #180575 40%, #3a2bbf 60%, #ffffff);
  font-family:arial, sans-serif;
}

/* cuadro del login */
main{
  background: rgba(255, 255, 255, 0.15); /* transparencia */
  padding:40px;
  width:320px;
  border-radius:15px;

  backdrop-filter: blur(10px); /* efecto vidrio */
  -webkit-backdrop-filter: blur(10px); /* compatibilidad */

  border:1px solid rgba(255,255,255,0.3); /* borde suave */

  box-shadow:0 8px 32px rgba(0,0,0,0.25);
}

/* título */
h2{
  text-align:center;
  margin-bottom:20px;
  color:#ffffff;
  font-size:30px;
  font-weight:700;
}

/* formulario */
form{
  display:flex;
  flex-direction:column;
  gap:8px;
}

/* etiquetas */
label{
  margin-top:10px;
  margin-bottom:5px;
  font-size:15px;
  font-weight:600;
  color:#ffffff;
}

/* inputs */
input{
  padding:10px;
  border-radius:6px;
  border:1px solid #ccc;
  font-size:14px;
  font-weight:500;
  font-family:sans-serif;
  background: rgba(255,255,255,0.2);
  border:1px solid rgba(255,255,255,0.3);
  color:#fff;
  box-shadow:0 3px 8px rgba(0,0,0,0.15); /* sombreado del campo */
}

/* efecto cuando escribes */
input::placeholder{
  color:rgba(255,255,255,0.7);
}

/* botón */
button{
  margin-top:20px;
  padding:10px;
  border:none;
  border-radius:6px;
  background:rgba(21, 3, 107, 0.7);
  color:#ffffff;
  font-weight:700;
  font-size:15px;
  cursor:pointer;
  align-self:center; /* centra el botón */
  width:150px;
  transition:0.3s ease;
}

/* hover botón */
button:hover{
  background:#3355ffc3;
  transform:scale(1.05)
}

.signup-text{
  text-align:center;
  margin-top: 20px;
  font-size: 14px;
  color: rgba(255,255,255,0.85);
}

.signup-text a{
  color: #ffffff;
  font-weight:700;
  text-decoration:none;
  border-bottom:1px solid rgba(255,255,255,0.5);
  padding-bottom:2px;
  transition:0.3s;
}

.signup-text a:hover{
  color:#ffffff;
  border-bottom: 1px solid #ffffff;
}
.signup-text a{
  color: #ffffff;
  font-weight:700;
  text-decoration:none;
  border-bottom:1px solid rgba(255,255,255,0.5);
  padding-bottom:2px;
  transition:0.3s;
}
.signup-text a:hover{
  color:#ffffff;
  border-bottom: 1px solid #ffffff;
}
